<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ObligatorioEntities" connectionString="metadata=res://*/Obligatorio.csdl|res://*/Obligatorio.ssdl|res://*/Obligatorio.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Obligatorio;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>